* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}



.checkout-page {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: rgb(245,245,245);
    width: 75%;
}

.checkout-page div{
    flex-basis: 45%;
    align-self: baseline;
    padding-bottom: 1%;
}

.check-box {
    align-self: flex-start;
    flex-grow: 2;
    padding-top: 1%;
    padding-bottom: 1%;
}

#button {
    color: white;
    background-color: rgb(105, 105, 105);
    height: 40px;
    width: 90%;
    margin: 2% 2% 2% 2%;
}

.cart {
    display: inline-flex;
    justify-content: space-around;
    background-color: rgb(245,245,245);
    width: 15%;
    flex-direction: column;
}

.shopping-cart {
    display: flex;
    align-items: baseline;
}

.item1, 
.item2, 
.item3, 
.total {
    display: flex;
    align-items: baseline;
}

.cartnitemntotal {
    flex-basis: 80%;
}

.total {
    border-top: 1px solid black;
}