.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: rgb(128, 128, 128);
}

.nav li {
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
}

.nav li a {
    color: white;  
}

.nav li:hover {
    background-color: rgb(120, 255, 160);
}
